mixin appCard(app)
  .app-card
    img.app-card__icon(src=app.icon alt=app.name)
    .app-card__info
      if app.rank
        .rank #{app.rank}
      .app-title #{app.name}
      .app-category #{app.category}
      .app-rating
        .star-rating
          svg.star(width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M5.5 0L6.95477 3.49768L10.7308 3.80041L7.85386 6.26482L8.73282 9.94959L5.5 7.975L2.26718 9.94959L3.14614 6.26482L0.269189 3.80041L4.04523 3.49768L5.5 0Z" fill="#707070")
        span #{app.rating}
    .app-card__actions
      if app.featured
        .safety-badge
          svg(width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg")
            g(clip-path="url(#clip0_7_387)")
              path(d="M10.2826 0.843478V5.93957C10.2826 6.24522 10.2028 6.54913 10.0435 6.8513C9.88376 7.15435 9.67523 7.44696 9.41697 7.7313C9.15871 8.01522 8.86363 8.28435 8.53219 8.53783C8.20028 8.79174 7.86406 9.01783 7.52306 9.21609C7.18158 9.41478 6.85015 9.58 6.52828 9.7113C6.20641 9.84261 5.92423 9.93261 5.68176 9.98174L5.56697 10L5.46176 9.98174C5.21306 9.93261 4.92467 9.84261 4.5961 9.7113C4.26754 9.58 3.92654 9.41478 3.57263 9.21609C3.21871 9.01783 2.87149 8.79174 2.53002 8.53783C2.18902 8.28435 1.88436 8.01522 1.61654 7.7313C1.34871 7.44696 1.13206 7.15435 0.966581 6.8513C0.800146 6.54913 0.717407 6.24522 0.717407 5.93957V0.843478L1.10958 0.788261L5.50958 0L9.99567 0.788261L10.2826 0.843478ZM5.51102 0.737826L5.45793 0.727826L1.68158 1.34304V4.55826H5.51102V0.737826ZM9.31845 4.55826H5.51102V9.13478C5.75589 9.08087 6.02228 8.9987 6.31019 8.88783C6.59762 8.77696 6.88171 8.64609 7.16197 8.49478C7.44271 8.34348 7.71245 8.17565 7.97215 7.99087C8.23184 7.80609 8.46093 7.60739 8.66132 7.39565C8.86123 7.18435 9.0205 6.96435 9.13958 6.73565C9.25915 6.50739 9.31845 6.27522 9.31845 6.04V4.55826Z" fill="#2FB028")
            defs
              clipPath#clip0_7_387
                rect(width="11" height="10" fill="white")
          span 100%safe
      button.download-btn
        svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M4.49854 7.18845L8.23004 10.92C8.35265 11.0425 8.51893 11.1114 8.6923 11.1114C8.86568 11.1114 9.03196 11.0425 9.15457 10.92L12.8861 7.18845L11.9615 6.26392L8.6923 9.53315L5.42307 6.26392L4.49854 7.18845Z" fill="white")
          path(d="M8.03839 10.4577V2.28467H9.34608V10.4577H8.03839Z" fill="white")
          path(d="M3.78847 10.4576V12.7461H13.5962V10.4576H14.9039V13.3999C14.9039 13.5734 14.835 13.7397 14.7123 13.8623C14.5897 13.9849 14.4234 14.0538 14.25 14.0538H3.13462C2.96121 14.0538 2.7949 13.9849 2.67228 13.8623C2.54966 13.7397 2.48077 13.5734 2.48077 13.3999V10.4576H3.78847Z" fill="white")

mixin appGridItem(app)
  .app-item
    img.app-icon(src=app.icon alt=app.name)
    .app-name #{app.name}
    .app-rating
      .star-rating
        svg.star(width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M5.5 0L6.95477 3.49768L10.7308 3.80041L7.85386 6.26482L8.73282 9.94959L5.5 7.975L2.26718 9.94959L3.14614 6.26482L0.269189 3.80041L4.04523 3.49768L5.5 0Z" fill="#707070")
      span #{app.rating}

mixin featuredCard(app)
  .featured-card
    img(src=app.banner alt=app.name)
    .card-overlay
      .app-info
        img.app-icon(src=app.icon alt=app.name)
        div
          .app-name #{app.name}
          .app-category #{app.category}
          .app-rating
            .star-rating
              svg.star(width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M5.5 0L6.95477 3.49768L10.7308 3.80041L7.85386 6.26482L8.73282 9.94959L5.5 7.975L2.26718 9.94959L3.14614 6.26482L0.269189 3.80041L4.04523 3.49768L5.5 0Z" fill="#787878")
            span #{app.rating}
